body {
  font-family: "Montserrat", "Merriweather", sans-serif;
  font-size: 36px;
}
.main-container {
  margin: 10px 50px;

}
li {
  font-size: 1rem;
}
.date {
  vertical-align: top;
  padding-top: 4px;
  color: #F56FAD;
}

.description {
  font-weight: normal;
  text-align: justify;
}
.left-panel,
.right-panel {
  vertical-align: top;
}

a {
  color: #7027A0;
}

b{
  color: #7027A0;
  font-weight: bold;
}
.name {
  color: #C32BAD;
  text-align: right;
  margin: 0;
  padding: 0;
}
.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.role {
  color: #7027A0;
  text-align: left;
}
.place {
  text-align: right;
  color: #C32BAD;
}
.title {
  text-align: right;
  border-bottom: 5px solid black;
}

table.fixed {
  table-layout: fixed;
}

table.fixed td {
  overflow: hidden;
}

table,
.child-table {
  width: 100%;
}

h6,
h4,
h3 {
  margin: 0;
}


blockquote {
  font-family: "Sacramento";
  width: 100%;
  text-align: center;
  position: relative;
}